<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="KafkaStorm"
	packages="com.ibm.psd2.integration">

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<!-- <Layout type="PatternLayout" pattern="%C{1}.%M %m %ex%n" /> -->

			<PatternLayout>
				<pattern>[%d] [%t] [%p] [%C{3.}::%M] - %m%n</pattern>
			</PatternLayout>
		</Appender>

		<RollingFile name="RollingFile" fileName="/logs/PSD2Storm.log"
			filePattern="/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>[%d] [%t] [%p] [%C{3.}::%M] - %m%n</pattern>
			</PatternLayout>

			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>

		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="com.ibm.psd2.integration"
			level="debug" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFile" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>

</Configuration>