<div>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" th:href="@{/}">PSD2 Demo Web Client</a>
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>

    <script type="text/javascript" src="/psd2client/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/psd2client/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/psd2client/webjars/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="/psd2client/webjars/angularjs/angular-resource.min.js"></script>
	<script type="text/javascript" src="/psd2client/webjars/angularjs/angular-cookies.min.js"></script>
	<script type="text/javascript" src="/psd2client/webjars/angularjs/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.9/ngStorage.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
	<script th:src="@{/resources/angular-utf8-base64.min.js}"></script>

	<script>
	/*<![CDATA[*/
	var app = angular.module('myApp', ["ngResource","ngRoute","ngCookies","angular-jwt"]);
	app.controller('mainCtrl', function($scope,$resource,$http,$httpParamSerializer,$cookies,jwtHelper) 
	{
	    $scope.user = {userID:0 , userName:"sample user"};
	    $scope.users = $resource("http://localhost:8082/psd2/user");
	    
	    $scope.organization = "";
	    $scope.refreshtoken = "";
	    
	    $scope.getUser = function(){
	        $scope.user = $scope.users.get();
	    }
	    
	    $scope.loginData = {grant_type:"password", username: "", password: "", client_id: "psd2client"};
	    $scope.refreshData = {grant_type:"refresh_token", client_id: "psd2client", refresh_token: ""};
	        
	    var isLoginPage = window.location.href.indexOf("login") != -1;
	    if(isLoginPage){
	        if($cookies.get("access_token")){
	            window.location.href = "index";
	        }
	    }else{
	        if($cookies.get("access_token")){
	            $http.defaults.headers.common.Authorization= 'Bearer ' + $cookies.get("access_token");
	            //getOrganization();
	        }else{
	        	refreshToken($scope.refreshData);
	        }
	    }
	    
	    $scope.login = function() {   
	         obtainAccessToken($scope.loginData);
	    }
	    
	    $scope.refreshAccessToken = function(){
	    	console.log("inside refreshAccessToken: " + $scope.refreshData.refresh_token);
	    	refreshToken($scope.refreshData);
	    }
	    
	    
	    function refreshToken(params)
	    {
			var accessToken = $cookies.get("access_token");
			
			var refreshData = {
					client_id: $scope.refreshData.client_id,
					grant_type: $scope.refreshData.grant_type,
					refresh_token: $cookies.get("refresh_token")
			}

	        var req = {
		            method: 'POST',
		            url: "http://localhost:8081/oauth2server/oauth/token",
		            headers: {
		            		"Authorization": "Basic " + btoa("psd2client:password01"),
		            		"Content-Type": "application/x-www-form-urlencoded"
		            		},
		            data: $httpParamSerializer(refreshData)
		        }
		        $http(req).then(
		            function(data)
		            {
		            	console.log("Access Token: " + data.data.access_token);
		            	console.log("Expiry in Seconds: " + data.data.expires_in);
		            	console.log("Refresh_Token: " + data.data.refresh_token);
					
		                $http.defaults.headers.common.Authorization= 'Bearer ' + data.data.access_token;
		                var expireDate = new Date (new Date().getTime() + (1000 * data.data.expires_in));
		                $cookies.put("access_token", data.data.access_token, {'expires': expireDate});
		                $cookies.put("refresh_token", data.data.refresh_token, {'expires': expireDate});
		                window.location.href="index";
		            },
		            function()
		            {
		                console.log("error");
		                window.location.href = "login";
		            }
		        );
	    }
	    
	    function obtainAccessToken(params){
	    	console.log("inside obtainAccess Token")
	        var req = {
	            method: 'POST',
	            url: "http://localhost:8081/oauth2server/oauth/token",
	            headers: {
	            		"Authorization": "Basic " + btoa("psd2client:password01"),
	            		"Content-Type": "application/x-www-form-urlencoded"
	            		},
	            data: $httpParamSerializer(params)
	        }
	        $http(req).then(
	            function(data)
	            {
	            	console.log("Access Token: " + data.data.access_token);
	            	console.log("Expiry in Seconds: " + data.data.expires_in);
	            	console.log("Refresh_Token: " + data.data.refresh_token);
				
	                $http.defaults.headers.common.Authorization= 'Bearer ' + data.data.access_token;
	                var expireDate = new Date (new Date().getTime() + (1000 * data.data.expires_in));
	                $cookies.put("access_token", data.data.access_token, {'expires': expireDate});
	                $cookies.put("refresh_token", data.data.refresh_token, {'expires': expireDate});
	                window.location.href="index";
	            },
	            function()
	            {
	                console.log("error");
	                window.location.href = "login";
	            }
	        );
	    }
	    
	    function getOrganization(){
	    	/*var token = $cookies.get("access_token");
	    	var payload = jwtHelper.decodeToken(token);
	    	console.log(payload);
	    	$scope.organization = payload.organization;
	    	
	    	$http.get("http://localhost:8081/spring-security-oauth-resource/users/extra")
	        .then(function(response) {
	        	console.log(response);
	            $scope.organization = response.data.organization;
	        }); */
	    }
	    
	});
	/*]]>*/
	</script>
</div>