<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>PSD2 Demo Web Client with Spring Boot + OAUTH2 + Spring MVC</title>
		<link rel="stylesheet" type="text/css" href="/psd2client/webjars/bootstrap/css/bootstrap.min.css"/>
	</head>
	<body ng-app="myApp" ng-controller="mainCtrl">		
		<div th:include="header"></div>
		
		<div class="container">
			<h1 class="col-sm-12">User Details</h1>
			<div class="col-sm-12">
				<label class="col-sm-3">ID</label>
				<span>{{user.userID}}</span>
			</div>
		
			<div class="col-sm-12">
				<label class="col-sm-3">Name</label>
				<span>{{user.userName}}</span>
			</div>
		
			<div class="col-sm-12">
				<a class="btn btn-default" href="#" ng-click="getUser()">New User</a>
			</div>
		
			<div class="col-sm-12">
				<br/>
				<br/>
				<a class="btn btn-info" href="#" ng-click="refreshAccessToken()">Refresh Access Token</a>
			</div>
		</div>
	</body>
</html>